@charset "utf-8";
/* CSS Document */

/*Font Type for Document*/
body {
	font-family: 'Josefin Sans', sans-serif;
	
}

/* Background Image */

/* Header Intro Title*/
h1 {
	color: white;
	text-align: center;
}


/*Photo Under Intro Title*/
img {
    display: block;
    margin: 0 auto;
}
hr {
	width: 50%;
}